/* ====== GLOBAL STYLE START ==== */

:root {
  --primary-color: #fecd42;
  --black: #272a31;
  --white: #fff;
  --light-grey: #dbd8d7;
}

.home {
  position: relative;
}

/* ====== GLOBAL VARIABLES END ==== */

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 1.7rem;
  font-weight: 900;
}

.fas {
  font-size: 1.5rem;
  font-weight: 900;
}

h4 {
  font-size: 2rem;
  font-weight: 900;
}

.outline {
  border-bottom: solid 2px red;
  width: 10%;
  padding: 1em;
}

.btn-scale {
  cursor: pointer;
}

.btn-scale:hover {
  transform: scale(1.3);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0.75em;
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--primary-color);
  margin-top: 1em;
  transition: 0.3s all ease-in-out;
  border: none;
}

button:hover {
  background: var(--light-yellow);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  transform: scale(1.2);
  transition: 0.3s all ease-in-out;
}

/* ====== GLOBAL STYLE END ==== */

/* ====== GLOBAL VARIABLES START ==== */

/* ====== HEADER START ==== */

header {
  background: var(--white);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  margin: 0 auto;
  position: relative;
}

header .my-logo {
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
}

.my-logo img {
  width: 15%;
}

.nav-icon {
  color: var(--black);
  font-size: 2rem;
}

.close-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100vh;
  left: 800px;
  top: 0;
  background: var(--black);
  align-items: end;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.open-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  padding: 2em 1em;
  height: 100%;
  left: 0;
  top: 0;
  background: #3c3a39;
  align-items: end;
  transition: all 1s ease-in-out;
  z-index: 7;
}

.nav-items {
  width: 100%;
}

.close {
  color: var(--white);
}

.nav-list {
  color: var(--white);
  padding: 0.75em 1em;
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  nav {
    width: 80%;
    padding: 0;
  }

  .close-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    background: transparent;
    height: auto;
    width: 30%;
    top: 0;
    left: 0;
    padding: 1em;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-icon,
  .close {
    display: none;
  }

  .nav-list {
    color: var(--black);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0;
    border-bottom: 0 solid var(--light-grey);
  }

  .nav-list:last-child {
    display: inherit;
  }
}

/* ====== HEADER END ==== */

/* ====== WORK SECTION START ==== */

.nav-list.active {
  color: #f00;
}

.tab-contents {
  /* Hide all tab contents by default */
  display: none;
}

.tab-contents.active {
  /* Show active tab content */
  display: block;
}
